@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  margin-block: 0.2rem;
  background-color: #eaeaea;
  border: 5px solid transparent;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 2rem;
  border: 2px solid #eaeaea;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
}
